<div class="container">
  <div>
    <form #f ="ngForm">
        <div class="col">
            <h3>Product Details</h3>
            <div class="form-group">
              Name: <input type="text" name="name" class="form-control" ngModel #name="ngModel">
            </div>
            <div class="form-group">
              Price: <input type="text" name="price" class="form-control" ngModel #price="ngModel">
            </div>
            <div class="form-group">
              Image: <input type="text" name="img" class="form-control" ngModel #image="ngModel">
            </div>
            <div>
              <button class="btn btn-primary" (click)="SaveProduct(f)">Save</button>
            </div>
          </div>
    </form>
   

  </div>
</div>